<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:jdbc="http://www.springframework.org/schema/jdbc"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
   	
   <context:property-placeholder location="classpath:db.properties"/>
   
  	<bean id="ds" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="username" value="${username}"></property>
		<property name="password" value="${password}"></property>
		<property name="driverClassName" value="${driver}"></property>
		<property name="url" value="${url}"></property>
	</bean>
   <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds" />
    </bean>
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="ds" />
        <property name="typeAliasesPackage" value="com.zpark.entity" />
        <property name="mapperLocations" value="classpath:com/zpark/mappers/*.xml"/>
    </bean>
    
    
	 <bean id="mapperLocations" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    	  <property name="basePackage" value="com.zpark.dao" />
    </bean>
    
	<tx:annotation-driven transaction-manager="transactionManager" />
	
  	
 	<context:component-scan base-package="com.zpark.service.impl">
 	</context:component-scan>
 	
	
</beans>
 	
  	
